* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
.contain {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}

nav {
    background-color: #222;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a {
    padding: 20px 0px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.intro {
    display: flex;
    align-items: center;
    gap: 48px;
}
.intro img {
    height: 100%;
    border-radius: 24px;
}
.img-contain, .content {
    flex: 1;
}
.img-contain {
    height: 400px;
}
.content h1 {
    font-size: 48px;
    color: #ffb700;
}

.featured {
    background-color: #222;
    color: white;
    padding: 24px 0px;
    h2 {
        font-size: 36px;
        text-align: center;
    }
}
.grid img {
    height: 300px;
    border-radius: 24px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    grid-template-areas:
        "t1 i1 i2 i2"
        "i3 i3 i4 t2"
    ;
    #p1 {
        grid-area: t1;
    }
    #p2 {
        grid-area: t2;
    }
    #img1 {
        grid-area: i1;
    }
    #img2 {
        grid-area: i2;
    }
    #img3 {
        grid-area: i3;
    }
    #img4 {
        grid-area: i4;
    }
    p {
        border: 2px solid #ffb700;
        border-radius: 24px;
        margin: 0px;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .content h1 {
        font-size: 32px;
    }
    .intro {
        gap: 24px;
    }
    .img-contain {
        height: 300px;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "t1 i1"
            "i2 i2"
            "i3 i3"
            "i4 t2"
        ;
    }
}

@media screen and (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
    }
    nav a {
        padding: 0px;
    }
    .intro {
        flex-direction: column;
        gap: 24px;
    }
    .content h1 {
        margin: 0px;
        font-size: 32px;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "t1"
            "i1"
            "i2"
            "i3"
            "i4"
            "t2"
        ;
    }
}