* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}

/* Navigation styles */
#nav {
    background-color: #ffceb7;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav #logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 1.25rem;
}
#logo img {
    width: 40px;
}
#nav a {
    text-decoration: none;
    color: #111;
}
#nav .links {
    display: flex;
    gap: 25px;
}

/* Card styles */
h1 {
    text-align: center;
    margin: 25px 0px;
    font-size: 4rem;
}
#cards-container {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.card {
    border: 2px solid #ffceb7;
    padding: 25px;
}
.card img {
    height: 400px;
}
.card h2 {
    text-align: center;
    margin: 15px 0px 0px;
}

@media screen and (max-width: 768px) {
    #nav {
        flex-direction: column;
        gap: 15px;
    }
    #cards-container {
        grid-template-columns: 1fr;
    }
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    #nav .links {
        flex-direction: column;
        text-align: center;
    }
}