* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#centered-column {
    width: 90vw;
    margin: 48px auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.card {
    width: 350px;
    border: 2px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #ceaaaa;
    background: linear-gradient(
        -50deg, 
        #ffdbdb, 
        #fff7f7, 
        #ffc9c9
    );
    display: flex;
    flex-direction: column;
}
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card h2 {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 0px;
}
.card p {
    font-size: 18px;
    flex: 1;
}

.card a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #f49f9f;
    padding: 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid #f49f9f;
    transition:
        background-color 0.5s,
        color 0.5s
    ;
}
.card a:hover {
    background-color: transparent;
    color: #f49f9f;
}