* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    a {
        text-decoration: none;
        color: black;
        display: block;
        border: 3px solid black;
        padding: 12px;
        margin-top: 36px;
    }
}

#card1 {
    transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}
#card1:hover {
    background-color: lightcyan;
    box-shadow: 4px 4px 4px #0003;
    transform: translateY(-4px);
}

#card2:hover a {
    background-color: aquamarine;
    box-shadow: 4px 4px 4px #0003;
    transform: translateY(-4px);
}
#card2 a {
    transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card3:hover .card-content {
    opacity: 0;
    visibility: hidden;
}
#card3 .card-content {
    transition:
        opacity 0.5s,
        visibility 0.5s;
}

#card4 .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-28px);
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}
#card4:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#card5 {
    position: relative;
}
#card5 .card-content {
    position: absolute;
    background-color: #ddd;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #0003;
    left: 0px;
    margin: 0px 24px;
    padding: 24px;
    transform: translateY(-28px);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}
#card5:hover .card-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}