* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
    display: block;
}
.contain {
    width: 80vw;
    max-width: 1280px;
    margin: 0px auto;
}

#hero img {
    height: 50dvh;
}

nav {
    position: sticky;
    top: 0px;
    background-color: #d6c4ff;
    z-index: 1;
}
nav .contain {
    display: flex;
    align-items: center;
    gap: 25px;
    a {
        display: inline-block;
        text-decoration: none;
        color: #111;
        padding: 15px 0px;
        transition: color 0.5s, letter-spacing 0.5s;
        &:hover {
            color: #463965;
            letter-spacing: 0.05em;
        }
    }
    .logo {
        display: block;
        margin: 0px auto;
    }
    .drop {
        position: relative;
        &:hover .menu {
            visibility: visible;
            opacity: 1;
        }
    }
    .menu {
        position: absolute;
        background-color: #d6c4ff;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 0px 0px 25px 25px;
        box-shadow: -2px 2px 3px #1112;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s;
        a {
            padding: 0px;
        }
    }
}

#about {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .contain {
        background-color: #463965;
        color: #eee;
        border-radius: 25px;
        padding: 25px 50px 25px 25px;
        max-width: 500px;
        position: relative;
    }
    .back-img {
        width: max-content;
        height: max-content;
        position: absolute;
        bottom: -100%;
        right: -25%;
        img {
            width: 250px;
            aspect-ratio: 1 / 1;
            object-fit: contain;
        }
        div {
            position: absolute;
            top: 0px;
            left: 0%;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, #fff0, #fff0, #fff5, #fff);
        }
    }
}