@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://use.typekit.net/axq4ggd.css");
@font-face {
    font-family: 'marline';
    src: url('../fonts/marline-webfont.woff2') format('woff2'),
         url('../fonts/marline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4 {
    font-family: "limon-script", sans-serif;
    font-weight: 800;
}
img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    font-family: "Sour Gummy", sans-serif;
    font-weight: 600;
}
.mc {
    color: #9B4A63;
}
.ac {
    color: #39775C;
}