/* Drill 1 - Write your code solution below */
#container-d1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Drill 2 - Write your code solution below */
#container-d2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/* Drill 3 - Write your code solution below */
#container-d3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "s1 s2 s3"
    ;
}
#d3-cell1 {
    grid-area: s1;
}
#d3-cell2 {
    grid-area: s2;
}
#d3-cell3 {
    grid-area: s3;
}

/* Drill 4 - Write your code solution below */
#container-d4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "beetle weevil worm"
    ;
}
#d4-cell1 {
    grid-area: worm;
}
#d4-cell2 {
    grid-area: beetle;
}
#d4-cell3 {
    grid-area: weevil;
}

/* Drill 5 - Write your code solution below */
#container-d5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "s1 s1 s1"
        "s2 s3 s3"
    ;
}
#d5-cell1 {
    grid-area: s1;
}
#d5-cell2 {
    grid-area: s3;
}
#d5-cell3 {
    grid-area: s2;
}

/* Drill 6 - Write your code solution below */
#container-d6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "s1 s2"
        "s3 s3"
    ;
}
#d6-cell1 {
    grid-area: s1;
}
#d6-cell2 {
    grid-area: s2;
}
#d6-cell3 {
    grid-area: s3;
}