@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
img {
    width: 100%;
    object-fit: cover;
}
h1, h2, h3 {
    font-family: "Playfair", serif;
}
p, a, li {
    font-family: "Poppins", sans-serif;
}
.container {
    width: 90vw;
    max-width: 1440px;
    margin: 0px auto;
}
.tg {
    background-image: linear-gradient(to right, #ffa163, #ff3806);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn {
    text-decoration: none;
    color: #111;
    background-image: linear-gradient(to right, #ffa163, #ff3806);
    padding: 10px 35px;
    display: inline-block;
    font-weight: 800;
}


/* Navigation */
#navbar {
    background-color: #ffa163;
    .container {
        display: flex;
        align-items: center;
        padding: 20px 0px;
    }
}
#navbar #logo {
    margin-right: auto;
    font-family: "Playfair", serif;
    font-size: 25px;
}
#navbar a {
    padding-left: 25px;
    color: #111;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* Header/Hero */
#s1 {
    height: 90vh;
    gap: 50px;
    display: flex;
    align-items: center;
}
#s1 img {
    height: 100%;
    flex: 1;
}
#s1 h1 {
    flex: 1;
    padding-right: 5vw;
    font-size: 40px;
}

/* Section 2 */
#s2 {
    text-align: center;
    .container {
        max-width: 550px;
        padding: 50px 0px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        margin: 20px 0px;
    }
}