@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes wipe {
    to {
        background-position: 200%;
    }
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
h1, h2, h4, .logo {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: bold;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}
.container {
    width: 95%;
    max-width: 1440px;
    margin: 0px auto;
}

header {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    img {
        display: block;
        min-height: 100%;
        max-height: 100%;
    }
    .content {
        margin: 0px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    h1 {
        font-size: 5rem;
        margin-bottom: 50px;
        span {
            color: #ff9500;
        }
    }
    #bio {
        max-width: 550px;
        border-left: 10px solid #ff9500;
        padding: 25px 0px 25px 25px;
    }
    #scroll {
        position: absolute;
        bottom: 25px;
        letter-spacing: 1em;
        font-weight: 100;
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
}

nav {
    background-color: #297c77;
    position: sticky;
    top: 0px;
    z-index: 2;
    .container {
        display: flex;
        gap: 25px;
        align-items: center;
    }
    a {
        display: block;
        color: #fff;
        padding: 25px 0px;
    }
    .logo {
        margin: 0px auto;
        padding: 0px;
        font-size: 2rem;
    }
}

#cyards {
    padding: 120px 0px;
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .cyard {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #297c77;
        width: 250px;
        aspect-ratio: 1 / 1;
        padding: 25px;
        box-shadow: 5px 5px 0px #15403d;
        h2 {
            color: #fff;
        }
        hr {
            border: none;
            border-bottom: 3px solid #ff9500;
            margin-top: 5px;
            width: 25%;
        }
    }
}

#gallery {
    background-color: #111;
    color: #eee;
    padding-bottom: 60px;
    h2#head {
        text-align: center;
        padding: 60px 0px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
        margin-bottom: 60px;
    }
    .cyard {
        position: relative;
        z-index: 1;
        flex: 1;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 350px;
        aspect-ratio: 1 / 1;
        img {
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -1;
        }
        h3, h2 {
            background-color: #111;
            color: #ff9500;
            padding: 15px;
            width: max-content;
            font-size: 1rem;
        }
        h2 {
            background:
                linear-gradient(
                    to right,
                    #15403d,
                    #297c77,
                    #15403d
                );
            background-size: 200% auto;
            width: 100%;
            color: #eee;
            font-size: 1.75rem;
        }
    }
    .best {
        flex: 2;
        aspect-ratio: 0;
    }
    .cyard:hover {
        h2 {
            animation: wipe 5s linear infinite;
        }
    }
}