/* Drill 1 - Write your code solution below */
#d1-container-1 {
    padding: 36px;
}

/* Drill 2 - Write your code solution below */
#d2-container-1 {
    padding: 48px 24px;
}

/* Drill 3 - Write your code solution below */
#d3-div-1, #d3-div-3 {
    padding: 12px;
}
#d3-div-2 {
    padding: 12px 48px;
}


/* Drill 4 - Write your code solution below */
.d4-container {
    padding: 24px;
}
#d4-div-2 {
    padding-top: 24px;
}

/* Drill 5 - Write your code solution below */
/* .d5-s {
    padding: 24px;
    display: inline-block;
}
#d5-container-1 {
    text-align: center;
} */
 #d5-container-1 {
    padding: 24px;
    text-align: center;
 }
 #d5-s-2 {
    padding: 0px 24px;
 }