* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 450px 250px 1fr;
    grid-template-areas: 
        ". content sidebar ."
    ;
    margin: 36px 0px;
}

#sidebar {
    grid-area: sidebar;
    padding: 18px;
}
#sidebar h2 {
    background-color: tomato;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 18px;
}
#sidebar ul {
    background-color: antiquewhite;
    border: 0.5px solid tomato;
    margin: 0px 0px 36px;
    list-style-type: none;
    padding: 0px 12px;
}
#sidebar li {
    border-bottom: 0.5px solid tomato;
    padding: 8px 0px;
}
#sidebar li:last-child {
    border-bottom: 0px;
}
#sidebar a {
    color: tomato;
    text-decoration: none;
}

#main {
    margin: 0px 36px;
    grid-area: content;
}